.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo-image {
  max-width: 100%;
  float: left;
}

.App-header {
  height: 100px;
  padding: 20px;
  color: var(--logo);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  align-items: center;
}

.App-intro {
  font-size: large;

}

.Mobile-menu {
  display: none;

}

.Web-menu {
  display: inline;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  flex-grow: 1;
}

@media all and (max-width: 860px) {
  .Mobile-menu {
    display: inline;
  }

  .Web-menu {
    display: none;
  }


}
