.Contact-div {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 80px;
  background-image: linear-gradient(-180deg, var(--background-light) 0%, var(--background-dark) 86%);
}

.Persons-div {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;

}

.Person-div {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 40px;
}

.Circular-image {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
