
.Guideline-text {
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
}

.Guideline-header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  flex-grow: 1;

}

.Guideline-title {
  margin-left: 15px;
}

.Guideline-comment {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  flex-grow: 1;
}

.Guideline-comments-outer {
  margin-right: 0px !important;

}

.Guideline-comments {
  margin: auto;
  text-align: left;
  margin-bottom: 40px;
  max-width: 92%;
}

.Card {
  border: 1px dashed var(--border-color);
}

.Card-div {
  margin-top: 20px;
}

.Comments-div {
  margin-bottom: 40px;
}

.Comments-divider {
  width: 20%;
  text-align: center;
  border: 1px dashed var(--border-color);
}

.Guideline-author {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  margin-right: 20px;
  font-style: italic;
}

.Author-p {
  margin-top: 0px;
  margin-bottom: 0px;
}



@media all and (max-width: 640px) {


  .Guideline-header {
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-top: 0px;
  }

  .Guideline-comment {
    order: 1;
    width: 100%;
    margin-bottom: 5px;
  }

  .Guideline-comment-text {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .Guideline-text {
    margin-left: 10px;
    margin-right: 10px;
  }

  .Guideline-title {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1em;
    order: 2;
  }

  .Card-div {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    max-width: 400px;
    margin-bottom: 30px;
  }

  .Card {
    order: 0;
  }

  .Vote-component {
    order: 1;
  }

  .Number-div {
    order: 0;
    text-align: left;
    width: 100%;
    margin-top: -40px;
    margin-left: -70px;

  }

  .Comments-div {
    margin-bottom: 20px;
  }

  .Guideline-author {
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin-left: 10px;
    margin-right: 10px;
  }

}
