
.Guideline-text {
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
}

.Guideline-header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
}

.Guideline-title {
  margin-left: 15px;
}


.Guideline-comment {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
}

.Guideline-comments-outer {
  margin-right: 0px !important;

}

.Guideline-comments {
  margin: auto;
  text-align: left;
  margin-bottom: 40px;
  max-width: 92%
}



.Vote-div {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
}

.Card {
  border: 1px dashed var(--border-color);
}

.Card-div {
  margin-top: 20px;
}

.Comments-div {
  margin-bottom: 40px;
}

.Comments-divider {
  width: 20%;
  text-align: center;
  border: 1px dashed var(--border-color);
}

.Add-comment {
  margin-top: 40px;
  font-style: italic;
}

.Add-comment-header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-bottom: 5px;

}

.Add-comment-name-label {
  margin-right: 10px;
  white-space: nowrap;
}

.Add-comment-title-label {
  margin-right: 10px;
  margin-left: 10px;
  white-space: nowrap;

}

.Add-comment-company-label {
  margin-left: 10px;
}

.Button-div {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-top: 20px;
  padding-bottom: 40px;
}
