.Guide-body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-grow: 1;
}

.content {
   -webkit-flex: 4 0 0;
   flex: 4 0 0;
   background-color: var(--background-light);
   margin-left: 20px;
   padding: 0px;
   margin-right: 40px;
}
.menu {
   -webkit-flex: 1 0 0;
   flex: 1 0 0;
   flex-grow: 1;
}
