.ActiveHorizontalLine {
  border: 2px solid var(--highlight);
  border-radius: 3px;
  margin-left: 0px;
  margin-right: 0px;
  width: 90%;
}

.Line-div {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.NormalHorizontalLine {
  border: 0px solid var(--highlight);
}

.Menu-button-div {
  -webkit-flex: 3 0 0;
  flex: 3 0 0;
  text-align: left;
  margin-left: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.Menu-button-div:hover{
  background-color: var(--background-light);
}


.Normal-menu-button {
  font-family: 'Exo', sans-serif;
  font-weight: 300;
  padding-top: 0px;
}

.Active-menu-button {
  font-family: 'Exo', sans-serif;
  color: white;
  font-weight: 600;
}

.Horizontal {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-grow: 1;
  width: calc(100% + 40px);
  margin-left: -40px;
}
