.ActiveHorizontalLine {
  border: 2px solid var(--highlight);
  border-radius: 3px;
  width: 100%;
}

.Line-div {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.Menu-button-div {
  -webkit-flex: 3 0 0;
  flex: 3 0 0;
  text-align: left;
  margin-left: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.Normal-menu-button:hover {
  font-weight: 600;

}

.Normal-menu-button {
  font-family: 'Exo', sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.Horizontal {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  flex-grow: 1;
  width: calc(100% + 40px);
  margin-left: -40px;
}
