:root {
  --background-dark: #454442;
  --background-light: #4F4F4D;
  --highlight: #FF45B7;
  --text: #EEF1F2;
  --actions: #FF9300;
  --logo: #AB926E;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

p {
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: var(--background-dark);
}

#root {
  min-height: 100%;
}

h {
  font-family: Exo, sans-serif;
}
