.Menu-items {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
   align-items: flex-start;
   background-color: var(--background-dark);
   margin-left: 40px;
   padding-top: 20px;
   padding-bottom: 20px;
   border: 1px dashed var(--border-color);
}

@media all and (max-width: 860px) {
  .Menu-items {
    border: none;
    padding-top: 0px;
  }

}
