.ActiveLine {
  border: 2px solid var(--highlight);
  width: 15px;
  border-radius: 3px
}

.Page-button {
  margin-left: 30px;
}

.Button-title {
  font-family: 'Exo', sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.Button-title:hover {
  font-weight: 600;
}


@media all and (max-width: 860px) {

  .ActiveLine {
    border: 2px solid var(--highlight);
    border-radius: 3px;
    width: 100%;
  }

  .Active-Line-div {
    order: 0;
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
  }

  .Button {
    order: 1;
    -webkit-flex: 3 0 0;
    flex: 3 0 0;
    text-align: left;
    margin-left: 10px;

  }

  .Button-title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .Page-button {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    flex-grow: 1;
    width: calc(100% + 40px);
    margin-left: 0px;
  }

}
