.ActiveLine {
  border: 2px solid var(--highlight);
  width: 15px;
  border-radius: 3px
}

.Page-button {
  margin-left: 40px;
  -webkit-align-items: center;
  align-items: center;

}

.Button {
  text-transform: uppercase;
  cursor: pointer;
}

.Button-title {
  font-family: 'Exo', sans-serif;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Button:hover {
  font-family: 'Exo', sans-serif;
  color: white;
  font-weight: 600;
}


@media all and (max-width: 860px) {

  .Page-button {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    margin-left: 0px;
  }

  .Active-Line-div {
    order:0;
  }

  .Button {
    order:1;
    text-align: left;
    margin-left: 10px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .ActiveLine {
    border: 2px solid var(--highlight);
    border-radius: 3px;
    margin-left: 0px;
    margin-right: 0px;
    width: 10%;
  }

  .HiddenLine {
    border: 0px solid var(--highlight);
  }




}
